/* UNIVERSAL SELECTOR*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  /* tells the browser to account for border and padding 
  within the width of an element, making it much easier
  to size elements. So a div of 100px in width, will always remain 100px
  in width, whether padding and borders are added to content or not */
}

/* UTILITY CLASSES */

.sub-heading {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.3rem;
}
.heading {
  margin-top: 60px;
}
.white-btn {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  /* offset-x | offset-y | blur-radius | color */
  color: #7c9473;
  border: 0;
  background-color: #ffffff;
  padding: 10px 25px;
  margin-top: 40px;
  border-radius: 20px;
  font-size: 1rem;
  outline: none;
}
.green-btn {
  padding: 8px 40px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  background-color: #7c9473;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border: 0;
  color: #ffffff;
}
.white-btn:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.green-btn:hover {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.dark-section {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: #00303f;
  color: #ffffff;
  text-align: center;
  margin: 200px 0 0 0;
  padding: 6.5rem 3rem;
}
.transparent-section {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 100px 0 0 0;
  color: #000000;
}
.flex-container {
  display: flex;
  margin: 30px 180px;
}

.left-column {
  margin: 120px 130px 100px 150px;
}

.right-column {
  margin: 100px 50px 100px 50px;
}

p {
  margin: 20px 0;
}

/* ------------------ */

body {
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.03rem;
  color: #ffffff;
  background-color: #ffffff;
  line-height: 1.5;
  height: 100%;
  /* overflow-x: hidden; */
}
.dark-background::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  z-index: -1;
  height: 1300px;
}

@media (min-width: 1500px) {
  .dark-background::before {
    height: 980px;
  }
}

@media (min-width: 700px) and (max-width: 1450px) {
  .dark-background::before {
    height: 1250px;
  }
}

.light-background::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.3;
  z-index: -2;
}

/* HEADER AND NAVIGATION BAR */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  color: #000000;
  height: 110px;
  z-index: 1;
  width: 100vw;
}

nav ul {
  float: right;
  margin: 40px 100px 0 0;
}

nav ul li {
  display: inline-block;
}

div.flex-logo {
  display: flex;
  align-items: center;
  float: left;
  margin-left: 100px;
  margin-top: 15px;
}

.flex-logo img {
  width: 50px;
}
.flex-logo .brand-name {
  font-family: "Tangerine", sans-serif;
  padding: 0.5rem;
  font-size: 3rem;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}

nav a {
  margin: 0 30px;
  color: #000000;
  font-size: 1rem;
}
nav .other-link a:hover {
  border-bottom: 2px solid #000000;
}

.toggle-button {
  font-size: 30px;
  display: none;
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1080px) {
  /* Navigation Bar */

  nav ul {
    line-height: 40px;
    background-color: #000000;
    width: 100%;
    padding: 1.5rem 0 1rem;
    margin: 5px auto 0;
  }

  #nav-bar {
    display: none;
  }

  #nav-toggle:checked ~ #nav-bar {
    display: block;
  }

  nav ul li {
    display: flex;
    justify-content: center;
  }

  nav a {
    color: #ffffff;
  }

  nav .other-link a:hover {
    border-bottom: 2px solid #ffffff;
  }

  .toggle-button {
    display: block;
    font-size: 1.5rem;
    margin-right: 20px;
    margin-top: 3px;
  }
  .home-btn {
    font-size: 0.9rem;
  }
  nav a {
    font-size: 0.9rem;
  }

  div.flex-logo {
    margin-left: 35px;
    margin-top: 20px;
  }

  .flex-logo img {
    width: 40px;
  }
  .flex-logo .brand-name {
    font-size: 2.5rem;
  }

  @media (max-width: 500px) {
    .flex-logo img {
      width: 30px;
    }
    .flex-logo .brand-name {
      margin-top: 5px;
      font-size: 2rem;
    }

    div.flex-logo {
      margin-left: 20px;
    }
    .toggle-button {
      margin-right: 5px;
    }
  }
}

/* SEARCH BOX */

.search-box {
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid #000000;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 260px auto -50px;
}
.search-box input {
  border-radius: 20px;
  border: 0;
  padding: 12px 30px;
  font-size: 0.95rem;
  float: left;
  width: 80%;
  height: 10px;
  cursor: pointer;
  outline: none;
}
/* input[type="text"] {
  background: transparent;
  border: none;
} */

input::placeholder {
  color: #7c9473;
}

.search-box .search-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: 20px;
  width: 20%;
  height: 35px;
  padding: 1rem;
  border: 0;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  outline: none;
}

@media (min-width: 1500px) {
  .search-box {
    margin-left: 50px;
    margin-top: 350px;
    width: 300px;
  }

  @media (max-width: 400px) {
    .search-box {
      width: 200px;
      height: 30px;
    }
  }
}

/* SOCIAL ICONS */

.social-icon {
  position: fixed;
  display: none;
  top: 58%;
  left: 60px;
  width: 50px;
  transform: translateY(-50%);
  z-index: 1;
}

.social-icon a {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px;
  overflow: hidden;
  background-color: #7c9473;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}

.social-icon a:hover {
  width: 150px;
  background-color: #000000;
}
.social-icon i {
  display: inline-block;
  height: 50px;
  width: 50px;
  font-size: 1.2rem;
  line-height: 53.5px;
  text-align: center;
  border-radius: 50px;
  color: #ffffff;
  transition: all 0.3s ease-out;
}

.social-icon i:hover {
  color: #ffffff;
}
.social-icon span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 500;
  margin-left: 5px;
  color: #ffffff;
  transition: all 0.3s ease-out;
}

/* PRODUCT SECTION */
.product-container {
  text-align: center;
}

.product-left {
  margin-top: 155px;
  padding: 0 3rem;
  animation: left-column 3.5s ease;
}

@keyframes left-column {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product-right {
  animation: right-slide 1s ease-in;
  animation: new-product 3s linear infinite;
}

@keyframes right-slide {
  0% {
    transform: translateX(500px);
  }
}

@keyframes new-product {
  0%,
  100% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.product-sub {
  margin-top: 20px;
}

.paragraph-heading {
  margin-bottom: 40px;
  line-height: 1.8;
}

.product-right img {
  margin-top: 60px;
  width: 350px;
}

.main-heading {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
}

@media (max-width: 500px) {
  .main-heading {
    font-size: 2rem;
  }

  .product-left p {
    font-size: 0.8rem;
  }

  .product-right img {
    margin-top: 50px;
    width: 300px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1500px) {
  #product {
    margin: -80px 100px 50px;
    padding: 1.5rem 5rem;
  }
  .product-container {
    display: flex;
  }
  .product-left {
    text-align: left;
  }

  .product-right img {
    margin: 50px 50px 0 50px;
    width: 450px;
  }

  .main-heading {
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }

  .social-icon {
    display: block;
  }
}

/* ABOUT SECTION */
#about {
  margin-top: 300px;
}

.about-left img {
  width: 300px;
}

.video-btn {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  /* offset-x | offset-y | blur-radius | color */
  color: #ffffff;
  border: 0;
  background-color: #7c9473;
  padding: 10px 25px;
  margin: 10px 0 0 10px;
  border-radius: 20px;
  font-size: 1rem;
  outline: none;
}

@media (max-width: 500px) {
  #about {
    margin-top: -0.1px;
  }
  .about-right h2 {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  .about-right p {
    font-size: 0.8rem;
  }

  .about-btn .read-btn {
    font-size: 0.9rem;
  }

  .about-btn .video-btn {
    font-size: 0.9rem;
  }
}
@media (min-width: 550px) {
  #about {
    margin-top: 300px;
  }
}

@media (min-width: 1500px) {
  #about {
    margin-top: 300px;
  }
  .about-container {
    display: flex;
  }

  .dark-section {
    border-bottom-right-radius: 50px;
    text-align: left;
    border-top-right-radius: 50px;
    width: 90vw;
    padding: 8rem 8rem;
    left: 50%;
  }

  .about-right {
    margin-left: 200px;
    margin-top: 10px;
  }

  .about-left img {
    width: 450px;
    margin-left: 120px;
  }
}

/* SERVICE SECTION */
.service-grid-container {
  margin: 80px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  padding-bottom: 2rem;
}

.service-card {
  background-color: #f1f1f1;
  width: 400px;
  color: #000000;
  margin: 0 30px 100px 100px;
  border-radius: 30px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 2rem 0 2.5rem 0;
  transition: transform 0.3s;
  margin: 0px auto 100px;
}

.service-card i {
  font-size: 2.5rem;
  color: #7c9473;
}

.service-card p {
  margin: 30px auto 0;
  width: 60%;
}

.service-heading {
  margin-right: 80px;
  text-align: center;
  padding-top: 3rem;
  margin: 0 auto 0;
}

@media (max-width: 500px) {
  .service-heading {
    font-size: 1.5rem;
    margin-top: -60px;
  }
  .service-card {
    width: 300px;
    margin: 0 auto 100px;
  }

  .service-card p {
    font-size: 0.8rem;
    width: 70%;
  }

  .service-card button {
    font-size: 0.9rem;
  }

  .service-card h3 {
    font-size: 1rem;
    margin-top: 15px;
  }
}

@media (min-width: 900px) {
  .service-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1500px) {
  .service-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .service-card {
    background-color: #f1f1f1;
    width: 450px;
    color: #000000;
    margin: 0 30px 100px 100px;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 2rem 0 2.5rem 0;
    transition: transform 0.3s;
  }
}

/* VIDEO SECTION */
.video-right iframe {
  width: 350px;
  height: 200px;
  margin-top: 50px;
}

.video-left button {
  margin-top: 20px;
}

@media (max-width: 500px) {
  #video-section {
    margin-top: -100px;
  }

  .video-left button {
    font-size: 0.9rem;
  }
  .video-left p {
    margin-top: 30px;
    font-size: 0.8rem;
  }
  .video-right iframe {
    margin-top: 80px;
    width: 280px;
    height: 200px;
  }
  .video-left h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1500px) {
  .video-container {
    display: flex;
  }
  .video-right {
    margin-top: -25px;
  }

  .video-right iframe {
    width: 560px;
    height: 315px;
    margin-right: 50px;
  }
  .video-left {
    margin: 50px 130px 0;
  }
}
/* SUBSCRIBE SECTION */
#subscribe {
  padding: 3.5rem 0;
  margin-top: 200px;
}
.subscribe-container {
  text-align: center;
  padding: 1rem;
  margin-top: -100px;
}

.subscribe-main-heading {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
}

.subscribe-card {
  background-color: #f1f1f1;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  color: #000000;
  width: 400px;
  border-radius: 30px;
  margin: 110px auto 100px;
  text-align: center;
  padding: 0.1rem 2rem 5rem;
}

.subscribe-left form {
  background-color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto 0;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.subscribe-paragraph {
  margin: 20px auto 30px;
}

#email {
  border-radius: 20px;
  border: 0;
  padding: 8px 30px;
  font-size: 1rem;
  float: left;
  width: 80%;
  height: 10px;
  cursor: pointer;
  outline: none;
}

.submit-btn {
  background-color: #7c9473;
  color: #ffffff;
  outline: none;
  padding: 8px 20px;
  height: 40px;
  margin-left: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 1rem;
  border: none;
}

.subscribe-right img {
  width: 350px;
  animation: new-product 3s linear infinite;
}

@media (max-width: 500px) {
  .subscribe-left h2 {
    font-size: 1.5rem;
  }
  .subscribe-card {
    width: 300px;
    margin: -60px auto 100px;
  }
  .subscribe-card p {
    font-size: 0.8rem;
    width: 90%;
  }
  .subscribe-left form {
    width: 240px;
  }
  .subscribe-right img {
    width: 300px;
  }

  #email {
    font-size: 0.8rem;
    padding: 8px 19px;
  }

  .submit-btn {
    font-size: 0.8rem;
  }
}

@media (min-width: 1500px) {
  .subscribe-container {
    display: flex;
  }

  .subscribe-left {
    margin-left: 230px;
  }

  .subscribe-right img {
    margin: 80px 0 0 120px;
    width: 450px;
  }
  .subscribe-card {
    width: 800px;
    padding: 1rem 4rem 5rem;
  }
}

/* CONTACT SECTION */
.contact-details {
  gap: 30px;
  margin-top: 20px;
}

.contact-details a {
  display: block;
  height: 50px;
  width: 50px;
  margin: 0 auto 30px;
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.contact-details i {
  display: inline-block;
  height: 50px;
  width: 50px;
  font-size: 1.2rem;
  line-height: 53.5px;
  text-align: center;
  border-radius: 50px;
  color: #7c9473;
}

.contact-form {
  background: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
  color: #000000;
  border-radius: 30px;
  padding: 2.5rem;
  margin: 70px auto 20px;
  font-weight: 500;
  width: 400px;
  height: auto;
}

.contact-form input {
  border-radius: 20px;
  border: 1px solid #000000;
  padding: 1.2rem 1.5rem;
  font-size: 0.9rem;
  width: 300px;
  height: 10px;
  cursor: pointer;
  outline: none;
}

.contact-form label {
  display: block;
  margin: 0.5rem 0 0.8rem;
}
#contact textarea {
  padding: 0.5rem 0 0 1rem;
  border: 1px solid #000000;
  margin-bottom: 30px;
  font-size: 0.9rem;
  width: 300px;
  cursor: pointer;
  outline: none;
}

textarea::placeholder {
  color: #7c9473;
}

.send-btn {
  margin-top: 30px;
}

@media (max-width: 500px) {
  #contact {
    margin-top: -5px;
  }
  .contact-left h2 {
    font-size: 1.5rem;
  }
  .contact-left {
    margin-top: -60px;
  }

  .contact-left p {
    font-size: 0.8rem;
  }

  .contact-sub {
    font-size: 1.2rem;
  }

  .contact-right {
    display: flex;
    justify-content: center;
  }

  .contact-form {
    width: 350px;
  }
  .contact-form input {
    font-size: 0.8rem;
    width: 200px;
  }

  #contact textarea {
    width: 200px;
  }

  .contact-form label {
    font-size: 0.9rem;
  }

  .send-btn {
    font-size: 0.8rem;
  }
}

@media (min-width: 1500px) {
  .contact-form input {
    font-size: 1rem;
  }
  #contact textarea {
    font-size: 1rem;
  }
  .contact-container {
    display: flex;
  }

  .contact-details {
    display: flex;
  }

  .contact-form {
    margin-top: -30px;
    margin: 40px 100px 0px;
    width: 500px;
  }

  .contact-left {
    margin: 15px 0 50px 150px;
  }
  .contact-right {
    margin: 10px 0 100px 150px;
  }

  .contact-details a {
    display: block;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  }
}

/* FOOTER SECTION */

footer {
  background-color: #000000;
  text-align: center;
  margin-top: 200px;
  height: 350px;
  padding: 4rem 0;
}
.footer-logo {
  font-family: "Tangerine", sans-serif;
  padding: 0.5rem;
  font-size: 2rem;
}
footer img {
  width: 40px;
}
.footer-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  margin: 20px auto 30px;
  width: 60%;
}
.copyright {
  width: 100%;
}

.social-icons {
  cursor: pointer;
  margin-top: 15px;
}

.social-icons i {
  text-decoration: none;
  padding: 0 10px;
  color: #ffffff;
  font-size: 20px;
}

@media (min-width: 1500px) {
  .social-icons {
    display: none;
  }
}

@media (max-width: 500px) {
  footer {
    margin-top: -50px;
  }
  .footer-paragraph {
    font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.9rem;
  }

  .footer-logo {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  footer {
    height: 300px;
    padding: 4rem 0;
    margin-top: 200px;
  }
}
